@import 'font-loader';
@import 'params';

html, body {
  background-color: white;
  font-family: 'ABCGintoNord', sans-serif;
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: -.05em;
}


h1,
.font-xxl {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

h2,
.font-xl {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 400;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// grid

.app-rm-margin-child {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-top: 0;
  }
}

// ui

.app-button,
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  border-radius: 2rem;
  background: linear-gradient(90deg, var(--fs-color-purple), var(--fs-color-green));
  user-select: none;

  &.app-button--width-img {
    width:  3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      pointer-events: none;
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      object-fit: contain;
      object-position: center center;
    }
  }
}
