@import 'font-loader';
@import 'params';

html, body {
  background-color: white;
  font-family: 'ABCGintoNord', sans-serif;
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: -.05em;
}


h1,
.font-xxl {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

h2,
.font-xl {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 400;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// grid

.app-rm-margin-child {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

// ui

.app-button,
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  border-radius: 2rem;
  background: linear-gradient(90deg, var(--fs-color-purple), var(--fs-color-green));
  user-select: none;

  &.app-button--width-img {
    width:  3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      pointer-events: none;
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      object-fit: contain;
      object-position: center center;
    }
  }
}

.app-nav-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.is-active {
    text-decoration: underline;
  }
}

.app-tag {
  background: var(--fs-color-green);
  border-radius: 1rem;
  height: 2rem;
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  font-size: .85rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  a {
    text-decoration: none;
    color: inherit;
  }

  &.app-tag--is-active {

  }

  .app-tag__text {

  }
}


.router-link-active {
  text-decoration: underline;
  cursor: default !important;
}


// vue transitions

.fade-transition-reverse-enter-active,
.fade-transition-reverse-leave-active {
  transition: opacity 1s .75s cubic-bezier(.42, 0, 0, 1), transform 1s .75s cubic-bezier(.42, 0, 0, 1);
  transform-origin: right;
}

.fade-transition-reverse-leave-active {
  transition: opacity .5s 0s cubic-bezier(.42, 0, 0, 1), transform .5s 0s cubic-bezier(.42, 0, 0, 1);
}

.fade-transition-reverse-enter-from,
.fade-transition-reverse-leave-to {
  opacity: 0;
  transform: scale(.99);
}
